.place__pharagraph{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
  color: #FFFFFF;
  grid-row: 2;
  margin: 26px 0 0;
  padding: 0;
}
.place__pharagraph:first-of-type{
  margin: 0;
}
