.cover{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1184px;
  height: 740px;
  margin: 92px auto 0;
  cursor: pointer;
  text-decoration: none;
}
.cover:hover .cover__overlay{
  opacity: 0.8;
}
