.place{
  display: grid;
  grid-template-columns: repeat(auto-fit, 460px);
  grid-template-rows: minmax(76px 152px) 460px;
  max-width: 984px;
  margin: 80px auto;
  row-gap: 48px;
  column-gap: 40px;
}
.place:first-of-type{
  margin-top: 0;
}
